{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
    <title>Notes</title>

    <script type="text/javascript">
      $(document).ready(function() {
        document.getElementById("id_username").setAttribute("placeholder", "Username");
        document.getElementById("id_password").setAttribute("placeholder", "Password");

        let labels = document.getElementById("login-page").getElementsByTagName("label");
        labels[0].innerHTML = "";
        labels[1].innerHTML = "";
      });
    </script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
